
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Login</a>
</nav>
<ion-content padding>

  <ion-item>
    <ion-label>
      Email
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.email">
      
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Contraseña
    </ion-label>
    <ion-input type="password" [(ngModel)]="user.password">
      
    </ion-input>
  </ion-item>

  <ion-item-divider>
    <ion-button size="large" (click)= "onLogin()">
      Login
    </ion-button>
    <ion-button size="large" href="/register">
      Registrarse
    </ion-button>
  </ion-item-divider>

</ion-content>
